
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
      .lst-kix_kxr0t46pdy0w-2 > li:before {
        content: '\0025a0   ';
      }
      .lst-kix_kxr0t46pdy0w-3 > li:before {
        content: '\0025cf   ';
      }
      ol.lst-kix_usjin1e04jz5-4.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-4 0;
      }
      .lst-kix_kxr0t46pdy0w-6 > li:before {
        content: '\0025cf   ';
      }
      .lst-kix_kxr0t46pdy0w-4 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_kxr0t46pdy0w-5 > li:before {
        content: '\0025a0   ';
      }
      .lst-kix_usjin1e04jz5-4 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-3, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-4, decimal) '. ';
      }
      ol.lst-kix_usjin1e04jz5-1.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-1 0;
      }
      .lst-kix_usjin1e04jz5-3 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-3, decimal) '. ';
      }
      .lst-kix_usjin1e04jz5-5 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-5;
      }
      .lst-kix_usjin1e04jz5-1 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '. ';
      }
      .lst-kix_usjin1e04jz5-2 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '. ';
      }
      .lst-kix_kxr0t46pdy0w-0 > li:before {
        content: '\0025cf   ';
      }
      .lst-kix_kxr0t46pdy0w-1 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_usjin1e04jz5-0 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '. ';
      }
      .lst-kix_usjin1e04jz5-1 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-1;
      }
      .lst-kix_usjin1e04jz5-4 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-4;
      }
      ol.lst-kix_usjin1e04jz5-2.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-2 0;
      }
      ol.lst-kix_usjin1e04jz5-8.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-8 0;
      }
      ol.lst-kix_usjin1e04jz5-5.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-5 0;
      }
      .lst-kix_usjin1e04jz5-7 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-7;
      }
      ul.lst-kix_kxr0t46pdy0w-8 {
        list-style-type: none;
      }
      .lst-kix_pnf0kd1r9gmy-5 > li:before {
        content: '\0025a0   ';
      }
      .lst-kix_pnf0kd1r9gmy-6 > li:before {
        content: '\0025cf   ';
      }
      .lst-kix_pnf0kd1r9gmy-3 > li:before {
        content: '\0025cf   ';
      }
      .lst-kix_pnf0kd1r9gmy-7 > li:before {
        content: '\0025cb   ';
      }
      ul.lst-kix_kxr0t46pdy0w-0 {
        list-style-type: none;
      }
      ul.lst-kix_kxr0t46pdy0w-1 {
        list-style-type: none;
      }
      .lst-kix_pnf0kd1r9gmy-1 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_pnf0kd1r9gmy-2 > li:before {
        content: '\0025a0   ';
      }
      ul.lst-kix_kxr0t46pdy0w-2 {
        list-style-type: none;
      }
      ul.lst-kix_kxr0t46pdy0w-3 {
        list-style-type: none;
      }
      .lst-kix_usjin1e04jz5-8 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-8;
      }
      ul.lst-kix_kxr0t46pdy0w-4 {
        list-style-type: none;
      }
      ul.lst-kix_pnf0kd1r9gmy-8 {
        list-style-type: none;
      }
      ul.lst-kix_kxr0t46pdy0w-5 {
        list-style-type: none;
      }
      .lst-kix_pnf0kd1r9gmy-0 > li:before {
        content: '\0025cf   ';
      }
      ul.lst-kix_pnf0kd1r9gmy-7 {
        list-style-type: none;
      }
      .lst-kix_pnf0kd1r9gmy-8 > li:before {
        content: '\0025a0   ';
      }
      ul.lst-kix_kxr0t46pdy0w-6 {
        list-style-type: none;
      }
      ul.lst-kix_pnf0kd1r9gmy-6 {
        list-style-type: none;
      }
      ul.lst-kix_kxr0t46pdy0w-7 {
        list-style-type: none;
      }
      ul.lst-kix_pnf0kd1r9gmy-5 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-6.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-6 0;
      }
      .lst-kix_iv908xqpdd0d-0 > li:before {
        content: '\0025cf   ';
      }
      .lst-kix_usjin1e04jz5-2 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-2;
      }
      .lst-kix_pnf0kd1r9gmy-4 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_iv908xqpdd0d-4 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_iv908xqpdd0d-5 > li:before {
        content: '\0025a0   ';
      }
      .lst-kix_usjin1e04jz5-6 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-6;
      }
      .lst-kix_iv908xqpdd0d-1 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_usjin1e04jz5-0 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-0;
      }
      ol.lst-kix_usjin1e04jz5-3.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-3 0;
      }
      .lst-kix_usjin1e04jz5-3 > li {
        counter-increment: lst-ctn-kix_usjin1e04jz5-3;
      }
      .lst-kix_iv908xqpdd0d-2 > li:before {
        content: '\0025a0   ';
      }
      .lst-kix_iv908xqpdd0d-3 > li:before {
        content: '\0025cf   ';
      }
      ol.lst-kix_usjin1e04jz5-7.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-7 0;
      }
      ul.lst-kix_iv908xqpdd0d-6 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-2 {
        list-style-type: none;
      }
      ul.lst-kix_pnf0kd1r9gmy-4 {
        list-style-type: none;
      }
      ul.lst-kix_iv908xqpdd0d-7 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-1 {
        list-style-type: none;
      }
      .lst-kix_usjin1e04jz5-5 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-3, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-4, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-5, decimal) '. ';
      }
      ul.lst-kix_pnf0kd1r9gmy-3 {
        list-style-type: none;
      }
      ul.lst-kix_iv908xqpdd0d-8 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-0 {
        list-style-type: none;
      }
      ul.lst-kix_pnf0kd1r9gmy-2 {
        list-style-type: none;
      }
      ul.lst-kix_pnf0kd1r9gmy-1 {
        list-style-type: none;
      }
      ul.lst-kix_iv908xqpdd0d-2 {
        list-style-type: none;
      }
      .lst-kix_usjin1e04jz5-7 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-3, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-4, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-5, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-6, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-7, decimal) '. ';
      }
      ul.lst-kix_pnf0kd1r9gmy-0 {
        list-style-type: none;
      }
      ul.lst-kix_iv908xqpdd0d-3 {
        list-style-type: none;
      }
      ul.lst-kix_iv908xqpdd0d-4 {
        list-style-type: none;
      }
      .lst-kix_usjin1e04jz5-6 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-3, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-4, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-5, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-6, decimal) '. ';
      }
      ul.lst-kix_iv908xqpdd0d-5 {
        list-style-type: none;
      }
      .lst-kix_iv908xqpdd0d-8 > li:before {
        content: '\0025a0   ';
      }
      .lst-kix_kxr0t46pdy0w-7 > li:before {
        content: '\0025cb   ';
      }
      ul.lst-kix_iv908xqpdd0d-0 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-0.start {
        counter-reset: lst-ctn-kix_usjin1e04jz5-0 0;
      }
      ol.lst-kix_usjin1e04jz5-8 {
        list-style-type: none;
      }
      ul.lst-kix_iv908xqpdd0d-1 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-7 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-6 {
        list-style-type: none;
      }
      .lst-kix_iv908xqpdd0d-6 > li:before {
        content: '\0025cf   ';
      }
      .lst-kix_iv908xqpdd0d-7 > li:before {
        content: '\0025cb   ';
      }
      .lst-kix_kxr0t46pdy0w-8 > li:before {
        content: '\0025a0   ';
      }
      ol.lst-kix_usjin1e04jz5-5 {
        list-style-type: none;
      }
      ol.lst-kix_usjin1e04jz5-4 {
        list-style-type: none;
      }
      .lst-kix_usjin1e04jz5-8 > li:before {
        content: '' counter(lst-ctn-kix_usjin1e04jz5-0, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-1, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-2, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-3, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-4, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-5, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-6, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-7, decimal) '.'
          counter(lst-ctn-kix_usjin1e04jz5-8, decimal) '. ';
      }
      ol.lst-kix_usjin1e04jz5-3 {
        list-style-type: none;
      }
      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c8 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #ffffff;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #ffffff;
        vertical-align: top;
        border-right-color: #ffffff;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 222pt;
        border-top-color: #ffffff;
        border-bottom-style: solid;
      }
      .c7 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 0pt;
        border-right-width: 0pt;
        border-left-color: #000000;
        vertical-align: middle;
        border-right-color: #000000;
        border-left-width: 0pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 0pt;
        width: 225pt;
        border-top-color: #000000;
        border-bottom-style: solid;
      }
      .c30 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #ffffff;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #ffffff;
        vertical-align: top;
        border-right-color: #ffffff;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 228pt;
        border-top-color: #ffffff;
        border-bottom-style: solid;
      }
      .c3 {
        padding-top: 10pt;
        text-indent: 36pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: 'Times New Roman';
        font-style: normal;
      }
      .c0 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c11 {
        padding-top: 10pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt;
      }
      .c20 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
        height: 11pt;
      }
      .c22 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c18 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c25 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c17 {
        padding-top: 10pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c5 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c23 {
        -webkit-text-decoration-skip: none;
        color: #000000;
        text-decoration: underline;
        vertical-align: baseline;
        text-decoration-skip-ink: none;
        font-style: normal;
      }
      .c4 {
        padding-top: 10pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c19 {
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto;
      }
      .c29 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.38;
        text-align: left;
      }
      .c12 {
        color: #000000;
        text-decoration: none;
        vertical-align: baseline;
        font-style: normal;
      }
      .c15 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.38;
        text-align: left;
      }
      .c21 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        text-align: right;
      }
      .c2 {
        font-size: 12pt;
        font-family: 'Times New Roman';
        font-weight: 400;
      }
      .c14 {
        font-weight: 400;
        font-size: 10pt;
        font-family: 'Arial';
      }
      .c9 {
        font-size: 12pt;
        font-family: 'Times New Roman';
        font-weight: 700;
      }
      .c27 {
        font-weight: 400;
        font-size: 11pt;
        font-family: 'Arial';
      }
      .c28 {
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt;
      }
      .c13 {
        margin-left: 36pt;
      }
      .c24 {
        height: 11pt;
      }
      .c6 {
        background-color: #ffffff;
      }
      .c16 {
        text-indent: 36pt;
      }
      .c26 {
        height: 73.5pt;
      }
      .c10 {
        height: 54pt;
      }
      .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #000000;
        font-size: 11pt;
        font-family: 'Arial';
      }
      p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: 'Arial';
      }
      h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: 'Arial';
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
    </style>
  </head>
  <body class="c6 c28 doc-content">
    <div>
      <p class="c5 c24"><span class="c12 c14"></span></p>
      <a id="t.56de0903b5d6e61a3b4550b646432468610025f8"></a><a id="t.1"></a>
      <table class="c19">
        <tr class="c26">
          <td class="c7" colspan="1" rowspan="1">
            <p class="c15">
              <span class="c12 c14">RESOLVE ENERGIA SOLAR LTDA</span>
            </p>
            <p class="c15">
              <span class="c12 c14">CNPJ: 32.012.032/0001-01</span>
            </p>
            <p class="c15">
              <span class="c12 c14">Telefone: 91 98572-4544</span>
            </p>
            <p class="c29">
              <span class="c12 c14">E-mail: resolvesoollar@gmail.com</span>
            </p>
          </td>
          <td class="c7" colspan="1" rowspan="1">
            <p class="c21">
              <span
                style="
                  overflow: hidden;
                  display: inline-block;
                  margin: 0px 0px;
                  border: 0px solid #000000;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                  width: 214.5px;
                  height: 72px;
                "
                ><img
                  alt=""
                  src="https://res.cloudinary.com/dyykoh8t4/image/upload/v1710548053/Resolve/image1_ugrpkk.png"
                  style="
                    width: 214.5px;
                    height: 72px;
                    margin-left: 0px;
                    margin-top: 0px;
                    transform: rotate(0rad) translateZ(0px);
                    -webkit-transform: rotate(0rad) translateZ(0px);
                  "
                  title=""
              /></span>
            </p>
          </td>
        </tr>
      </table>
      <p class="c5 c24"><span class="c12 c27"></span></p>
    </div>
    <p class="c18">
      <span class="c9 c23"
        >INSTRUMENTO PARTICULAR DE CONTRATO DE PROJETO E
        INSTALA&Ccedil;&Atilde;O FOTOVOLTAICO</span
      >
    </p>
    <p class="c11"><span class="c23 c9"></span></p>
    <p class="c22">
      <span class="c9 c6">{{id_customer}}</span
      ><span class="c2 c6">, portador(a) do CPF n&ordm;</span
      ><span class="c9 c6"
      > {{id_first_document}}</span>
      {{#if id_second_document}}
      <span class="c2 c6">,e da Carteira de Identidade n&ordm; </span
      ><span class="c9 c6">{{id_second_document}}</span>
      {{/if}}
      <span class="c2 c6">,residente e domiciliado(a) na </span
      ><span class="c9 c6"
        >{{id_customer_address}},
        {{id_customer_house}}</span
      ><span class="c2 c6">, CEP: &nbsp;</span
      ><span class="c9 c6"
      >{{id_customer_zip}}</span
      ><span class="c2 c6">, bairro: </span
      ><span class="c9 c6"
        >{{id_customer_locality}}</span
      ><span class="c2 c6">, cidade: </span
      ><span class="c9 c6"
        >{{id_customer_city}}/{{id_customer_state}} </span
      ><span class="c2 c6"
        >neste ato denominada(o) CONTRATANTE e do outro lado;</span
      >
    </p>
    <p class="c17">
      <span class="c9">RESOLVE ENERGIA SOLAR LTDA</span
      ><span class="c2"
        >, empresa cadastrada no CNPJ 32.012.032/0001-01, com sede legal na
        Avenida Duque de Caxias, n&ordm; 1253, Bairro: Marco, CEP: 66093-029,
        Cidade: Bel&eacute;m/PA, neste ato, representado pelo seu DIRETOR
        ADMINISTRATIVO </span
      ><span class="c9">Benedito Jo&atilde;o Viegas de Matos</span
      ><span class="c2"
        >, portador do CPF n&ordm; 925.437.152-15 e RG n&ordm; 5081093,
        residente e domiciliado &agrave; cidade de Bel&eacute;m/PA, neste ato
        denominada CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1">, t&ecirc;m ajustado entre si o que segue:</span>
    </p>
    <p class="c17"><span class="c12 c9">Do objeto do contrato</span></p>
    <p class="c4">
      <span class="c1"
        >1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O(A) CONTRATANTE
        confia &agrave; CONTRATADA RESOLVE ENERGIA SOLAR e aceita, a
        execu&ccedil;&atilde;o de todas as atividades necess&aacute;rias para a
        realiza&ccedil;&atilde;o, teste e conex&atilde;o do projeto fotovoltaico
        que compreende:</span
      >
    </p>
    <p class="c5 c16">
      <span class="c1"
        >&#65518; &nbsp;Fornecimento e instala&ccedil;&atilde;o de materiais
        el&eacute;tricos (quadro de string DC, quadro de paralelo AC);</span
      >
    </p>
    <p class="c5 c16">
      <span class="c1"
        >&#65518; &nbsp;Fornecimento e instala&ccedil;&atilde;o de estrutura
        met&aacute;lica para suporte de m&oacute;dulos fotovoltaicos;</span
      >
    </p>
    <p class="c5 c16">
      <span class="c1"
        >&#65518; &nbsp;Fornecimento e instala&ccedil;&atilde;o de componentes
        el&eacute;tricos;</span
      >
    </p>
    <p class="c5 c16">
      <span class="c1"
        >&#65518; &nbsp;Conex&atilde;o el&eacute;trica entre m&oacute;dulos,
        quadros DC, inversor e quadro baixa tens&atilde;o;</span
      >
    </p>
    <p class="c5 c13">
      <span class="c1"
        >&#65518; &nbsp;Teste de funcionalidade e entrega de conformidade da
        usina;</span
      >
    </p>
    <p class="c5 c13">
      <span class="c1"
        >&#65518; &nbsp;Avalia&ccedil;&atilde;o do projeto de ajuste, caso
        necess&aacute;rio;</span
      >
    </p>
    <p class="c5 c13">
      <span class="c2">&#65518;</span
      ><span class="c9">&nbsp; HOMOLOGA&Ccedil;&Atilde;O </span
      ><span class="c1"
        >do sistema junto a Concession&aacute;ria de Energia El&eacute;trica
        (Equatorial) e solicita&ccedil;&atilde;o de aumento de carga
        (monof&aacute;sico para bif&aacute;sico);</span
      >
    </p>
 <p class="c5 c13">
  <span class="c2">&#65518; &nbsp;Fornecimento de :</span>
</p>

{{#if id_material_1}}
<p class="c5 c13">
  <span class="c1">
    <li>{{quantity_material_1}} {{id_material_1}}</li>
  </span>
</p>
{{/if}}

{{#if id_material_2}}
<p class="c5 c13">
  <span class="c1">
    <li>{{quantity_material_2}} {{id_material_2}}</li>
  </span>
</p>
{{/if}}
{{#if id_material_3}}
<p class="c5 c13">
  <span class="c1">
    <li>{{quantity_material_3}} {{id_material_3}}</li>
  </span>
</p>
{{/if}}

    <p class="c5 c13 c24"><span class="c1"></span></p>
    <hr style="page-break-before: always; display: none" />
    <p class="c5 c13 c24"><span class="c1"></span></p>
    <p class="c4">
      <span class="c1"
        >2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S&atilde;o
        exclu&iacute;dos do presente contrato os seguintes:</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Obras civis: estrutura de edif&iacute;cios,
        funda&ccedil;&otilde;es, terraplenagem, arma&ccedil;&atilde;o, drenagem,
        amplia&ccedil;&atilde;o, inova&ccedil;&atilde;o ou
        restaura&ccedil;&atilde;o no im&oacute;vel;</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Fornecimento de telha, exceto, quando no momento da
        instala&ccedil;&atilde;o alguma telha for danificada;</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Obras de transmiss&atilde;o de energia em linha a&eacute;rea:
        cabeamento que liga a resid&ecirc;ncia at&eacute; a rede da
        concession&aacute;ria;</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Estrutura mec&acirc;nica de refor&ccedil;o do telhado (onde
        previsto);</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; C&aacute;lculo estrutural do telhado (Quando n&atilde;o
        previsto no artigo 2.1).</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As obras
        dever&atilde;o ser executadas pelo(a) CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >, com a m&aacute;xima seriedade, em respeito aos melhores
        par&acirc;metros de qualidade e de todos os crit&eacute;rios e
        obriga&ccedil;&otilde;es previstas em lei e normas v&aacute;lidas no
        Brasil.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c2"
        >&nbsp;declara que realizar&aacute; um projeto fotovoltaico com
        pot&ecirc;ncia total de </span
      ><span class="c9 c6">{{id_product_kwp}} kWp</span
      ><span class="c1"
        >, constitu&iacute;do em uma instala&ccedil;&atilde;o FTV na cobertura
        de sua resid&ecirc;ncia.</span
      >
    </p>
    <p class="c4">
      <span class="c12 c9">Dos valores e forma de pagamento</span>
    </p>
    <p class="c4">
      <span class="c2"
        >5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O valor que
        dever&aacute; ser pago pelo(a) CONTRATANTE &agrave; CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c2"
        >&nbsp;para a realiza&ccedil;&atilde;o do servi&ccedil;o de todas as
        obras descritas neste contrato corresponde ao total de </span
      ><span class="c9">&nbsp;</span><span class="c1">.</span>
    </p>
    <p class="c4">
      <span class="c1"
        >6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O pagamento
        dever&aacute; ser efetuado da seguinte forma:
      </span>
    </p>
    <p class="c4">
      <span class="c2"
        >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.1. Pagamento de 100% do
        valor do projeto no valor de </span
      ><span class="c9"></span><span class="c2">&nbsp;</span
      ><span class="c9 c6">{{project_value_format}}</span>
    </p>
    <p class="c3">
      <span class="c2">6.2.</span>
      <span class="c2">{{observation_payment}}</span>
    </p>
    <p class="c4">
      <span class="c2"
        >7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entende-se que a
        execu&ccedil;&atilde;o da obra, objeto deste contrato, ocorre na base
        &ldquo;Servi&ccedil;o de Instala&ccedil;&atilde;o e Fornecimento de
        Equipamentos Fotovoltaicos&rdquo;. Assim a CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;executar&aacute; cada obra, atividade (incluindo o fornecimento
        de equipamentos, materiais e pessoas) e trabalhos necess&aacute;rios
        para a realiza&ccedil;&atilde;o do projeto fotovoltaico, tudo em
        conformidade com o expressamente indicado na cl&aacute;usula 1.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dado que o contrato
        tem natureza de &ldquo;Servi&ccedil;o de Instala&ccedil;&atilde;o e
        fornecimento de Equipamentos Fotovoltaicos&rdquo;, a CONTRATADA RESOLVE
        ENERGIA SOLAR assume cada risco e custo ligado &agrave;
        realiza&ccedil;&atilde;o do projeto fotovoltaico em conformidade ao
        contrato, onde no prazo de 12 (doze) meses cobre qualquer dano causado a
        estrutura do telhado ou partes que envolvam a instala&ccedil;&atilde;o,
        como infiltra&ccedil;&otilde;es e vazamentos, desde que comprovado
        liga&ccedil;&atilde;o com a estrutura do sistema, salvo as
        exce&ccedil;&otilde;es expressamente previstas no presente
        contrato.</span
      >
    </p>
    <p class="c4">
      <span class="c12 c9">Das obriga&ccedil;&otilde;es da CONTRATADA</span>
    </p>
    <p class="c4">
      <span class="c2"
        >9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;se compromete a fornecer os equipamentos e executar a
        instala&ccedil;&atilde;o dos itens contidos na Cl&aacute;usula 1 deste
        contrato.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;se compromete a utilizar equipamentos adequados &agrave;
        realiza&ccedil;&atilde;o dos servi&ccedil;os e pessoal qualificado,
        assumindo plena e exclusiva responsabilidade por sua
        contrata&ccedil;&atilde;o, eximindo o(a) CONTRATANTE de qualquer
        responsabilidade.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;declara e garante dispor de toda experi&ecirc;ncia e
        compet&ecirc;ncias t&eacute;cnicas necess&aacute;rias para a
        realiza&ccedil;&atilde;o das obras. De modo a executar toda a obra
        dentro das normas e leis v&aacute;lidas no Brasil.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;declara ter ido ao local onde dever&atilde;o ser realizadas as
        obras antes da subscri&ccedil;&atilde;o do presente contrato e de haver
        conhecimento direto, tamb&eacute;m atrav&eacute;s de
        indaga&ccedil;&otilde;es e inspe&ccedil;&otilde;es, das
        condi&ccedil;&otilde;es gerais e particulares existentes nas quais as
        presta&ccedil;&otilde;es dever&atilde;o ser realizadas.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;assume cada risco e custo ligado &agrave;
        realiza&ccedil;&atilde;o do projeto fotovoltaico em conformidade ao
        contrato, por 12 (doze) meses cobre qualquer dano causado a estrutura do
        telhado ou partes que envolvam a instala&ccedil;&atilde;o, como
        infiltra&ccedil;&otilde;es e vazamentos, desde que comprovado
        liga&ccedil;&atilde;o com estrutura do sistema, fato salvo das
        exce&ccedil;&otilde;es expressamente previstas no presente
        contrato.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;declara prestar todas as informa&ccedil;&otilde;es adequadas e
        claras ao(&agrave;) CONTRATANTE sobre os produtos e
        servi&ccedil;os.</span
      >
    </p>
    <p class="c4">
      <span class="c12 c9">Das obriga&ccedil;&otilde;es da CONTRATANTE</span>
    </p>
    <p class="c4">
      <span class="c1"
        >15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ser&aacute;
        realizada vistoria t&eacute;cnica no local de instala&ccedil;&atilde;o,
        em caso de aprova&ccedil;&atilde;o com ressalvas e/ou
        reprova&ccedil;&atilde;o, este contrato poder&aacute; ser suspenso ou
        at&eacute; mesmo cancelado.</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >15.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ser&aacute; de
        responsabilidade da CONTRATANTE manter o ponto de conex&atilde;o de
        internet ligada ao sistema fotovoltaico sempre ativo, devendo inclusive
        realizar procedimentos, medidas ou quaisquer outras
        solicita&ccedil;&otilde;es indicadas pela CONTRATADA a fim de
        restabelecer esse ponto de conex&atilde;o em caso de falha. Fica a
        CONTRATANTE ciente que sem o perfeito funcionamento do ponto de
        conex&atilde;o da internet, a CONTRATADA n&atilde;o poder&aacute; dar
        suporte e acompanhar o funcionamento do sistema.</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >15.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arcar, por
        contrata&ccedil;&atilde;o espec&iacute;fica ou junto a terceiros, quando
        apontado pela CONTRATADA durante a vistoria t&eacute;cnica, o eventual
        refor&ccedil;o estrutural nos telhados, troca de telhas, reforma
        el&eacute;trica e demais obras (vide cl&aacute;usula 2);</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >16.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Havendo necessidade
        de realiza&ccedil;&atilde;o de obras de ajustes para
        implanta&ccedil;&atilde;o do equipamento, esta ocorrer&aacute;, conforme
        o item 2 do contrato, sob inteira responsabilidade do CONTRATANTE,
        devendo a </span
      ><span class="c9">RESOLVE ENERGIA SOLAR </span
      ><span class="c1"
        >indicar com detalhes t&eacute;cnicos quais as altera&ccedil;&otilde;es
        de estrutura e equipamentos que devem ser utilizados;</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >16.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para garantir o
        padr&atilde;o de seguran&ccedil;a e confiabilidade da empresa, tudo no
        melhor interesse do consumidor, as obras de ajuste dever&atilde;o ser
        realizadas por profissional competente da &aacute;rea (engenheiro ou
        arquiteto) e o projeto dever&aacute; ser aprovado por profissional
        t&eacute;cnico da empresa, que ter&aacute; o prazo m&aacute;ximo de 5
        (cinco) dias &uacute;teis para realizar a avalia&ccedil;&atilde;o.</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >16.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As obras
        dever&atilde;o ser realizadas no prazo m&aacute;ximo de 90 (noventa)
        dias, nos termos do item 20 do presente instrumento, per&iacute;odo em
        que os prazos do item 20 estar&atilde;o suspensos, conforme
        disposi&ccedil;&atilde;o do item 22;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >17.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Efetuar os
        pagamentos a CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1">, de forma tempestiva, nos termos deste Contrato.</span>
    </p>
    <p class="c4">
      <span class="c1"
        >18.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Liberar a entrada
        dos profissionais para a execu&ccedil;&atilde;o dos servi&ccedil;os de
        instala&ccedil;&atilde;o nas &aacute;reas do im&oacute;vel para isso
        necess&aacute;rias.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >19.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Receber e armazenar
        os equipamentos entregues pela FABRICANTE de forma segura durante a
        etapa de instala&ccedil;&atilde;o, zelando pela sua guarda e respondendo
        por eventuais perdas e danos. Eventuais restri&ccedil;&otilde;es
        implicar&atilde;o em atrasos considerados de responsabilidade do(a)
        CONTRATANTE.</span
      >
    </p>
    <p class="c25">
      <span class="c1"
        >20.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O(A) CONTRATANTE
        declara e garante haver a plena disponibilidade jur&iacute;dica do local
        e se disp&otilde;e a manter pela inteira dura&ccedil;&atilde;o do
        presente contrato, da disponibilidade do local e o consentimento a
        CONTRATADA RESOLVE ENERGIA SOLAR o desenvolvimento das atividades
        previstas no presente contrato.</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >20.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ser&aacute; de
        responsabilidade da CONTRATANTE manter o ponto de conex&atilde;o de
        internet ligada ao sistema fotovoltaico sempre ativo, devendo inclusive
        realizar procedimentos, medidas ou quaisquer outras
        solicita&ccedil;&otilde;es indicadas pela CONTRATADA a fim de
        restabelecer esse ponto de conex&atilde;o em caso de falha. Fica a
        CONTRATANTE ciente que sem o perfeito funcionamento do ponto de
        conex&atilde;o da internet, a CONTRATADA n&atilde;o poder&aacute; dar
        suporte e acompanhar o funcionamento do sistema.</span
      >
    </p>
    <p class="c4"><span class="c12 c9">Dos prazos</span></p>
    <p class="c4">
      <span class="c1"
        >21.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O cumprimento deste
        contrato iniciar&aacute; na data de sua assinatura e as v&aacute;rias
        fases relativas &agrave; realiza&ccedil;&atilde;o das obras
        dever&atilde;o ser completadas no prazo m&aacute;ximo de 100 (CEM)
        dias;</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >21.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Em caso de estudo
        de rede (obras realizadas pela concession&aacute;ria de energia), o
        prazo da empresa para t&eacute;rmino do projeto fotovoltaico fica
        estendido para 180 (CENTO E OITENTA) dias;</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >21.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O prazo
        passar&aacute; a contar a partir da entrega da
        documenta&ccedil;&atilde;o necess&aacute;ria completa para o processo de
        aquisi&ccedil;&atilde;o do material e homologa&ccedil;&atilde;o e
        pagamento de entrada;</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >21.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O prazo para
        instala&ccedil;&atilde;o do projeto contar&aacute; a partir de 60
        (sessenta) dias da assinatura do contrato.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >22.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cliente est&aacute;
        com direito ao seguro contra inc&ecirc;ndio, explos&atilde;o, queda de
        raio, vendaval, granizo, furac&atilde;o, ciclone,
        inunda&ccedil;&atilde;o, alagamento, roubo/furto qualificado, danos
        el&eacute;tricos, m&atilde;o de obra do integrador durante 1 (um)
        ano.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >23.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;reserva-se ao direito de suspender a contagem dos prazos
        acordados no cronograma sempre que o(a) CONTRATANTE deixar de cumprir
        com as obriga&ccedil;&otilde;es pactuadas, podendo esta arcar com os
        custos extras incorridos.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >24.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O prazo de entrega
        poder&aacute; ser prorrogado quando ocorrer:</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Caso fortuito, for&ccedil;a maior ou dificuldades de acesso ao
        im&oacute;vel;</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Surgimento de fatos t&eacute;cnicos imprevistos que impliquem
        na paralisa&ccedil;&atilde;o dos trabalhos ou na
        substitui&ccedil;&atilde;o de materiais por outros indispon&iacute;veis
        no mercado;</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Interrup&ccedil;&otilde;es no fornecimento de &aacute;gua ou
        energia el&eacute;trica por per&iacute;odos superiores a duas horas por
        dia;</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Descumprimento no prazo de fornecimento dos equipamentos por
        motivo de terceiros. Eventuais atrasos por parte do(a) CONTRATANTE, de
        entes p&uacute;blicos (quando houver) e/ou da concession&aacute;ria de
        energia el&eacute;trica (EQUATORIAL).</span
      >
    </p>
    <p class="c0">
      <span class="c1"
        >&#65518; Altera&ccedil;&atilde;o do projeto por parte do(a)
        CONTRATANTE.</span
      >
    </p>
    <p class="c4"><span class="c12 c9">Das variantes</span></p>
    <p class="c4">
      <span class="c1"
        >25.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA RESOLVE
        ENERGIA SOLAR poder&aacute; executar varia&ccedil;&otilde;es nas obras
        do presente contrato em depend&ecirc;ncia da execu&ccedil;&atilde;o
        t&eacute;cnica (fios, disjuntores e material de prote&ccedil;&atilde;o)
        fornecendo materiais sempre no respeito da m&aacute;xima qualidade. As
        varia&ccedil;&otilde;es ser&atilde;o sempre comunicadas ao(&agrave;)
        CONTRATANTE antecipadamente.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >26.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As Partes
        contratantes concordam que as varia&ccedil;&otilde;es relativas a
        majora&ccedil;&otilde;es de obras ordenadas pelo(a) CONTRATANTE,
        ser&atilde;o realizadas, ap&oacute;s averigua&ccedil;&atilde;o de
        possibilidade de realiza&ccedil;&atilde;o da parte CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1">, no tempo que a mesma determinar.</span>
    </p>
    <p class="c3">
      <span class="c2"
        >26.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;tem o direito de compensa&ccedil;&atilde;o, relativa &agrave;
        varia&ccedil;&atilde;o, que ser&aacute; correspondida ao final da
        realiza&ccedil;&atilde;o da mesma, ap&oacute;s
        apresenta&ccedil;&atilde;o da Nota Fiscal, por&eacute;m, tal
        compensa&ccedil;&atilde;o dever&aacute; ser informado ao(&agrave;)
        CONTRATANTE no prazo m&iacute;nimo de 15 dias &uacute;teis.</span
      >
    </p>
    <p class="c4"><span class="c12 c9">Da rescis&atilde;o do contrato</span></p>
    <p class="c4">
      <span class="c1"
        >27.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O presente contrato
        poder&aacute; ser rescindido no caso de inadimplemento de quaisquer
        obriga&ccedil;&otilde;es ora estabelecidas, pelas partes contratadas,
        desde que a parte inadimplente n&atilde;o sane a pend&ecirc;ncia em 15
        (quinze) dias corridos, contados do recebimento da
        notifica&ccedil;&atilde;o por escrito da outra parte, ou, ainda, no caso
        de inexecu&ccedil;&atilde;o total ou parcial deste contrato. A parte
        infratora ficar&aacute; obrigada a pagar a multa equivalente a 10% (dez
        por cento) do valor total do contrato &agrave; outra parte, sem
        preju&iacute;zo das perdas e danos e lucros cessantes que a referida
        rescis&atilde;o acarretar.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >28.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para o caso de
        rescis&atilde;o por inadimpl&ecirc;ncia no pagamento de uma ou mais
        parcelas, al&eacute;m das perdas, danos e lucros cessantes acima,
        arcar&aacute; o(a) CONTRATANTE com o pagamento dos juros e
        corre&ccedil;&atilde;o monet&aacute;ria.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >29.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eventual
        rescis&atilde;o unilateral pelo(a) CONTRATANTE, exclu&iacute;da a
        hip&oacute;tese acima, dever&aacute; ser feita mediante aviso
        pr&eacute;vio (por escrito), pelas partes, com no m&iacute;nimo 15
        (quinze) dias de anteced&ecirc;ncia, arcando, nesta hip&oacute;tese, com
        o pagamento da multa de 10% (dez por cento) do valor do contrato;
        todavia, caso o fornecimento ou a instala&ccedil;&atilde;o j&aacute;
        tenham sido iniciados, al&eacute;m da multa ora estabelecida o(&agrave;)
        CONTRATANTE arcar&aacute; com o pagamento do valor dos equipamentos e
        servi&ccedil;os j&aacute; encomendados, fornecidos e/ou realizados,
        valor este a ser apurado pela CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >, que dever&aacute; compensar eventuais valores recebidos a mais e
        encaminhar demonstrativo para o(a) CONTRATANTE, a qual dever&aacute;
        saldar referido d&eacute;bito no prazo de 10 (dez) dias contados da data
        do recebimento do demonstrativo dos servi&ccedil;os e valores.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >30.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qualquer das partes
        poder&aacute;, a qualquer tempo, rescindir este instrumento no caso de
        pedido ou decreta&ccedil;&atilde;o de fal&ecirc;ncia, pedido de
        recupera&ccedil;&atilde;o judicial ou extrajudicial ou
        dissolu&ccedil;&atilde;o de uma das partes, sem preju&iacute;zo das
        perdas e danos e lucros cessantes que a referida rescis&atilde;o
        acarretar, n&atilde;o prejudicando o direito do(a) CONTRATANTE.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >31.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A rescis&atilde;o
        poder&aacute; ocorrer, ainda, por m&uacute;tuo acordo entre as partes e
        a qualquer tempo, caso em que n&atilde;o haver&aacute; encargo algum a
        nenhuma delas.</span
      >
    </p>
    <p class="c4"><span class="c12 c9">Das garantias</span></p>
    <p class="c4">
      <span class="c2"
        >32.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;garante ao(&agrave;) CONTRATANTE que os equipamentos a serem
        fornecidos atendem ao descrito nas Especifica&ccedil;&otilde;es
        T&eacute;cnicas quando operados dentro dos limites t&eacute;cnicos para
        os quais foram projetados e em estrito acordo com as
        instru&ccedil;&otilde;es de opera&ccedil;&atilde;o espec&iacute;ficas
        fornecidas pela FABRICANTE, ou, na aus&ecirc;ncia destas, de acordo com
        as pr&aacute;ticas usuais vigentes na ind&uacute;stria para estes tipos
        de equipamentos.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >33.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;garante que os equipamentos ser&atilde;o isentos de defeitos
        materiais, tendo como prazos de garantia os estipulados no presente
        contrato, bem como, de m&atilde;o de obra e manuten&ccedil;&atilde;o
        (limpeza dos pain&eacute;is, reaperto das conex&otilde;es e
        verifica&ccedil;&atilde;o de condi&ccedil;&otilde;es de telhado) que
        ter&atilde;o garantia pelo prazo de 01 (um) ano, contados ambos os
        prazos a partir do t&eacute;rmino da instala&ccedil;&atilde;o dos
        equipamentos.</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >33.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Passado o prazo
        referido na cl&aacute;usula 31, fica estabelecido como garantia os
        prazos oferecidos pelas FABRICANTES no que se refere aos m&oacute;dulos
        e inversores e estrutura, quais sejam de 30 (trinta) anos de garantia de
        performance e 12 (doze) anos contra defeitos de fabrica&ccedil;&atilde;o
        para os m&oacute;dulos e 10 (dez) anos para os inversores e estrutura.
        Ocasi&atilde;o em que o(a) CONTRATANTE dever&aacute; acionar as
        respectivas FABRICANTES, se comprometendo a CONTRATADA RESOLVE ENERGIA
        SOLAR em disponibilizar todos os canais de comunica&ccedil;&atilde;o com
        a FABRICANTE, bem como acompanhamento do processo.</span
      >
    </p>
    <p class="c3">
      <span class="c1"
        >33.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ap&oacute;s 12
        meses, a CONTRATANTE pode solicitar a CONTRATADA um acordo de
        manuten&ccedil;&atilde;o geral do material fotovoltaico.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >34.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Durante o
        per&iacute;odo de garantia, a obriga&ccedil;&atilde;o do(a) CONTRATADA
        RESOLVE ENERGIA SOLAR ser&aacute; limitada &agrave;
        substitui&ccedil;&atilde;o ou reparo, &agrave; sua op&ccedil;&atilde;o,
        de qualquer equipamento ou parte dele que, se devidamente instalados,
        usados e mantidos, comprovadamente apresentarem defeitos de material ou
        m&atilde;o de obra.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >35.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A presente garantia
        n&atilde;o cobre defeitos ou falhas decorrentes do desgaste normal dos
        materiais e componentes, erros operacionais, erros de
        manuten&ccedil;&atilde;o ou de sua falta, manuseio inadequado dos
        acess&oacute;rios ou dos equipamentos como um todo, equipamentos
        mantidos desligados por um per&iacute;odo superior a 30 (trinta) dias,
        sem que seja observada a sua manuten&ccedil;&atilde;o ou, ainda, danos
        ou defeitos causados por eros&atilde;o, corros&atilde;o,
        intemp&eacute;ries, etc.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >36.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Em caso de
        solicita&ccedil;&atilde;o de visita pelo(a) CONTRATANTE &agrave;
        CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;e sendo constatado pelo t&eacute;cnico que a falha,
        defici&ecirc;ncia ou defeito ocorrido durante o per&iacute;odo de
        garantia n&atilde;o &eacute; atribu&iacute;vel &agrave; FABRICANTE
        caber&aacute; ao(&agrave;) CONTRATANTE arcar com o pagamento das horas
        empenhadas, mais as despesas relativas ao deslocamento de seus
        t&eacute;cnicos, como passagens, transporte, hospedagem e
        alimenta&ccedil;&atilde;o, no entanto, caso a falha, defici&ecirc;ncia
        ou defeito seja atribu&iacute;do &agrave; responsabilidade a CONTRATADA,
        a mesma arcar&aacute; com os custos acima descritos.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >37.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA RESOLVE
        ENERGIA SOLAR n&atilde;o ser&aacute; respons&aacute;vel por quaisquer
        custos ou preju&iacute;zos decorrentes de modifica&ccedil;&otilde;es,
        remo&ccedil;&atilde;o, instala&ccedil;&atilde;o,
        reinstala&ccedil;&atilde;o ou substitui&ccedil;&atilde;o de
        equipamentos, componentes, partes ou acess&oacute;rios, realizadas
        pelo(a) CONTRATANTE ou por terceiros sem o pr&eacute;vio e expresso
        consentimento por escrito da CONTRATADA RESOLVE ENERGIA SOLAR. A
        inobserv&acirc;ncia deste item anular&aacute; a garantia.</span
      >
    </p>
    <p class="c4">
      <span class="c12 c9">Das disposi&ccedil;&otilde;es gerais e finais</span>
    </p>
    <p class="c4">
      <span class="c2"
        >38.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;depois de haver realizado uma visita t&eacute;cnica ao local a
        ser instalado o projeto e haver verificado que o local da
        instala&ccedil;&atilde;o &eacute; adequado, aceitou realizar a mesma nas
        condi&ccedil;&otilde;es indicadas neste contrato.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >39.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CONTRATADA </span
      ><span class="c9">RESOLVE ENERGIA SOLAR</span
      ><span class="c1"
        >&nbsp;executar&aacute; seus projetos de acordo com padr&otilde;es e
        normas t&eacute;cnicas aplic&aacute;veis.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >40.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integra o presente
        contrato o quadro de resumo.</span
      >
    </p>
    <p class="c4">
      <span class="c2">41.</span
      ><span class="c9"
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( ) Autorizo ( )
        N&atilde;o autorizo</span
      ><span class="c1"
        >&nbsp;o uso de minha imagem constante na filmagem da entrega do projeto
        solar Sucesso do Cliente, sem qualquer &ocirc;nus para a empresa RESOLVE
        ENERGIA SOLAR e em car&aacute;ter definitivo.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >42.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fica estabelecido o
        foro da cidade de Bel&eacute;m/PA, para dirimir quaisquer d&uacute;vidas
        oriundas do presente instrumento.</span
      >
    </p>
    <p class="c4">
      <span class="c1"
        >E por estarem justas e contratadas, assinam o presente instrumento em
        02 (duas) vias de igual teor.</span
      >
    </p>
    <p class="c4 c24"><span class="c1"></span></p>
    <p class="c4">
      <span class="c2">Bel&eacute;m,</span
      ><span class="c9 c6">{{dia}}</span
      ><span class="c9">&nbsp;de </span
      ><span class="c9 c6">{{mes}}</span
      ><span class="c9">&nbsp;de </span
      ><span class="c9 c6">{{ano}}</span>
    </p>
    <p class="c4 c24"><span class="c1"></span></p>
    <a id="t.a07d0be7f2950c02d3008d52955b36305fc49ff8"></a><a id="t.0"></a>
    <table class="c19">
      <tr class="c10">
        <td class="c8" colspan="1" rowspan="1">
          <p class="c18">
            <span class="c2">_______________________________</span>
          </p>
          <p class="c22">
            <span class="c9 c6">{{id_customer}}</span>
          </p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c18">
            <span class="c1">_______________________________</span>
          </p>
          <p class="c5"><span class="c12 c9">RESOLVE ENERGIA SOLAR</span></p>
          <p class="c5">
            <span class="c9">Benedito Jo&atilde;o Viegas de Matos</span>
          </p>
        </td>
      </tr>
    </table>
    <p class="c20"><span class="c1"></span></p>
  </body>
</html>
